body {
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}


li, a, button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: black;
    font-size: 15px;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;

}

.logo{
    cursor: pointer;
}

.nav__links{
    list-style: none;
    margin-left: 300px;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
    margin-right: 0%;
    width: 100px;
}

.nav__links li a{
    transition: all 0.3 ease 0s;

}

.nav__links li a:hover {
    color: rgba(57, 16, 107, 0.512);

}

button{
    width: 200px;
    padding: 9px 25px;
    background-color: rgba(28, 7, 48, 0.902);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    margin-right: 100px;
    color: #f1f1f1;
    font-weight: 50;

}

.section1{
    width: 90%;
    height: 742px;
    margin: 20px;
    margin-left: 50px;
     border-radius: 50px;
        background-image: url(https://lh3.googleusercontent.com/pw/AIL4fc9XWq8ii3hd_0mSbcpx9_AGbxWfINBWQTKgUPm6VZJ3UN_w85Mx5E58K3YreNV1uhLwmV5M4FS-dZaTEIMEpU7VEwzI9K-D7PgEfYWzlMpkIh7pgy6TqgZDGJuBlo3nHs8xClcX2YRVcUw5HSu-zUmD2leuDmygR7ILYPM-TFp2k7jEwqGxVR3aRy4aomU3FgSnkw3NC2oFpcH7OVkHxrOt-O1HGE_oIg7lK3yFx7cJ1TdACCbAIXB5-6XvYcK3A4M-eO-73suZ7KBi8BhT1BxEkLlr2yx5YzMQ4j8mPSCsxgva4MFKKARFI3PuPZGqE3cCl9yd4lKGLEmM9O3JqVr2IKD36_ho1xDFKDvEv3u3gs0KteF0ROAnBXBWCVXs7R-8J9r7k3A_BMHTR06xTmlqayxxQf_QsK3Z6zpRF4eMUJoXQwFn-XU59dCgrOa5TjP36NP5SLQeIsyeBxE0PrRF3WO2eWgamSaKdtLdQEPxjaAlEUBKuLjQ3O7X6xqnA8NZMSGSlIWIurwBXqTNHLMKSJhUMmSpC5LAX0W82hAMnvciqDkGM23UmBRUjyuxdeUzPBJ4i-JKDv-rS5pCvHlTQwuN4JLGlMAHbnVxWS0fDxYfA8DOAusxMYy927Ja-ZeuAFfFWIr0lzishAHcgsaQg42cIqfb7h_rFJfAxuPmo4aEnaBap-RREsFpuJaV86qD4dsq2V4jgc0T8AYHQ9y1JoVnn0hQzsUmvAucN1YPbmr3DA3Gz64eEskrI-XI_GyX626Fm6lcIfw8gTSFjrAZfKwCvrP6VGkdXos6vzlWyjK0Gz9FX4mOdP1J5K-rTZEQ44hCG6bCc-yKqjPC2nPV0vq7xi1y9uNS0rlAM3EuNyd2tlz_nm8xmSW3WMbagA3t1jlsZjdqmNwvAmdB7pw1vv2AG0EMcS_OyVARlGupLTTvdQPWehGGfxyAnggN-rWc7qAFMqwN-joGgi2VoCaRqbiSPxsoNQ=w1386-h742-s-no?authuser=0);     display: flex;
     align-items: center;
     justify-content: space-between;
     
}

.sec1_div1{
    background-color:transparent;
    width: 480px;
    height: 303.3608703613281px ;
    margin-left: 100px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    display: inline;
    
}

.sec1_div2{
    background-color:transparent;
    width: 474.9854431152344px;
    height: 303.3608703613281px;
    margin-right: 120px;
    
}

input[type=text] {
    padding: 12px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 40%;
    background: #f1f1f1;
}

#btn {
    float: left;
    width: 20%;
    padding: 12px;
    background: rgb(14, 81, 204);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    border-radius: 0%;
    cursor: pointer;
}

form p{
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 40;
    align-items: center;
    justify-content: space-around;
}

.section2{
    width: 90%;
    height: 512px;
    margin: 20px;
    margin-left: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(206, 236, 226);
    border-radius: 10px;

}
.sec2_div1{
width: 671px;
height: 460px;
border: none; 
border-radius: 15px;
margin-right: 20px;
}

.sec2_div2{
    width: 671px;
    height: 460px;
    border: none;
    border-radius: 15px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 20px;
    padding: 10px;
}

.section3{
        width: 90%;
        height: 512px;
        margin: 20px;
        margin-left: 50px;
        border-radius: 50px;
        background-color: rgb(206, 236, 226);
        display: flex;
        align-items: center;
        justify-content: space-around;
}

.sec3-div{
    width: 431.53167724609375px;
    height: 469px;
    border-radius: 20px;
    
}

.images{
    width: 431px;
    height: 272px;
}

.content{
    width: 431px;
    height: 175px;
    padding: 10px;
}


.section4{
        width: 90%;
        height: 742px;
        margin: 20px;
        margin-left: 50px;
        border-radius: 50px;
        background-image: url(https://lh3.googleusercontent.com/pw/AIL4fc9XWq8ii3hd_0mSbcpx9_AGbxWfINBWQTKgUPm6VZJ3UN_w85Mx5E58K3YreNV1uhLwmV5M4FS-dZaTEIMEpU7VEwzI9K-D7PgEfYWzlMpkIh7pgy6TqgZDGJuBlo3nHs8xClcX2YRVcUw5HSu-zUmD2leuDmygR7ILYPM-TFp2k7jEwqGxVR3aRy4aomU3FgSnkw3NC2oFpcH7OVkHxrOt-O1HGE_oIg7lK3yFx7cJ1TdACCbAIXB5-6XvYcK3A4M-eO-73suZ7KBi8BhT1BxEkLlr2yx5YzMQ4j8mPSCsxgva4MFKKARFI3PuPZGqE3cCl9yd4lKGLEmM9O3JqVr2IKD36_ho1xDFKDvEv3u3gs0KteF0ROAnBXBWCVXs7R-8J9r7k3A_BMHTR06xTmlqayxxQf_QsK3Z6zpRF4eMUJoXQwFn-XU59dCgrOa5TjP36NP5SLQeIsyeBxE0PrRF3WO2eWgamSaKdtLdQEPxjaAlEUBKuLjQ3O7X6xqnA8NZMSGSlIWIurwBXqTNHLMKSJhUMmSpC5LAX0W82hAMnvciqDkGM23UmBRUjyuxdeUzPBJ4i-JKDv-rS5pCvHlTQwuN4JLGlMAHbnVxWS0fDxYfA8DOAusxMYy927Ja-ZeuAFfFWIr0lzishAHcgsaQg42cIqfb7h_rFJfAxuPmo4aEnaBap-RREsFpuJaV86qD4dsq2V4jgc0T8AYHQ9y1JoVnn0hQzsUmvAucN1YPbmr3DA3Gz64eEskrI-XI_GyX626Fm6lcIfw8gTSFjrAZfKwCvrP6VGkdXos6vzlWyjK0Gz9FX4mOdP1J5K-rTZEQ44hCG6bCc-yKqjPC2nPV0vq7xi1y9uNS0rlAM3EuNyd2tlz_nm8xmSW3WMbagA3t1jlsZjdqmNwvAmdB7pw1vv2AG0EMcS_OyVARlGupLTTvdQPWehGGfxyAnggN-rWc7qAFMqwN-joGgi2VoCaRqbiSPxsoNQ=w1386-h742-s-no?authuser=0);
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.last_button{
    width: 200px;
    color: #f1f1f1;
    background-color: #3C9FB5;
}